.idea
Env_variables-Backend.txt
Env_variables-Frontend.txt
Env_variables-Functions.txt

backend/.google_application_credentials.json
backend/.gcloudignore
backend/.cache
backend/flexenv.yaml

backend/__pycache__
backend/external_apis/__pycache__
backend/external_apis/__pycache__
backend/firestore/__pycache__
backend/firestore/__pycache__

frontend/app.yaml
frontend/.gcloudignore
frontend/__pycache__
frontend/utils/__pycache__
frontend/utils/__pycache__

functions/download_lyrics/.env.yaml
